<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="static\images\photo-1534258936925-c58bed479fcb.jpeg" type="image/x-icon">
  <meta name="description" content="Галерея Ярославль | pole dance • растяжка • танцы">
  <title>Галерея</title>
  <link rel="stylesheet" href="https://r.mobirisesite.com/374238/assets/web/assets/mobirise-icons2/mobirise2.css?rnd=1712041757925">
  <link rel="stylesheet" href="https://r.mobirisesite.com/374238/assets/bootstrap/css/bootstrap.min.css?rnd=1712041757925">
  <link rel="stylesheet" href="https://r.mobirisesite.com/374238/assets/bootstrap/css/bootstrap-grid.min.css?rnd=1712041757925">
  <link rel="stylesheet" href="https://r.mobirisesite.com/374238/assets/bootstrap/css/bootstrap-reboot.min.css?rnd=1712041757925">
  <link rel="stylesheet" href="https://r.mobirisesite.com/374238/assets/parallax/jarallax.css?rnd=1712041757925">
  <link rel="stylesheet" href="https://r.mobirisesite.com/374238/assets/dropdown/css/style.css?rnd=1712041757925">
  <link rel="stylesheet" href="https://r.mobirisesite.com/374238/assets/socicon/css/styles.css?rnd=1712041757925">
  <link rel="stylesheet" href="https://r.mobirisesite.com/374238/assets/theme/css/style.css?rnd=1712041757925">
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap&display=swap"></noscript>
  <link rel="stylesheet" href="https://r.mobirisesite.com/374238/assets/css/mbr-additional.css?rnd=1712041757925" type="text/css">
  <link rel="stylesheet" href="cleaned_styles.css" type="text/css">
  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu2 cid-u8LKa7s0VU" once="menu" id="menu-5-u8LKa7s0VU">
	

	<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
		<div class="container">
			<div class="navbar-brand">
				<span class="navbar-logo">
					<a href=" ">
						<img src="static/images/logo/logo.png" alt="Mobirise Website Builder" style="height: 4.3rem;">
					</a>
				</span>
				<span class="navbar-caption-wrap"><a class="navbar-caption text-black display-4" href="/">Главная</a></span>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<div class="hamburger">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
					<li class="nav-item">
						<a class="nav-link link text-black display-4" href="classes.html">Направления</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link text-black display-4" href=" " aria-expanded="false">События</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link text-black display-4" href=" ">Прайс</a>
					</li>
				</ul>
				
				<div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-4" href="/schedule">Записаться</a></div>
                <a  href="/schedule"><img src="static/images/profile.png" alt="Записаться" style="height: 4.3rem; margin-left: 0.3rem;"></a>
			</div>
		</div>
	</nav>
</section>




<section data-bs-version="5.1" class="header18 cid-u8LKa7uKqh mbr-fullscreen" style="background-image: url(static/images/bg-main.jpg)" id="hero-16-u8LKa7uKqh">
 

  <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(0, 0, 0);"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
          ГАЛЕРЕЯ
        </h1>
        
        <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-7" >студия воздушного<br>фитнеса</p>
        
      </div>
    </div>
  </div>
</section>



<section data-bs-version="5.1" class="article8 cid-u8LKa7us6h" id="about-me-8-u8LKa7us6h">
  <div class="container">
    <div class="row justify-content-center">
      <div class="card col-md-12 col-lg-10">
        <div class="card-wrapper">
          <div class="image-wrapper d-flex justify-content-center mb-4">
        
            <video width="900" height="1200" controls="controls" poster="static/images/3AG08rHIiP0.jpg">
            <source src="static/video/promo.mp4" type='video/mp4'></video>
        </div>
          <div class="card-content-text">
            <h3 class="card-title mbr-fonts-style mbr-white mt-3 mb-4 display-2">
            <strong>ПОЧЕМУ ИМЕННО МЫ?</strong>
          </h3>
          <div class="row card-box align-left">
            <div class="item features-without-image col-12">
                <div class="item-wrapper">
                
                  <p class="mbr-text mbr-fonts-style display-7">Наша школа «Галерея» специализируется на обучении взрослых с нуля. Да-да, вы не ослышались, для того чтобы начать свое обучение, вам не нужно иметь спортивное прошлое и​ особую физическую подготовку – все навыки вы приобретете в процессе занятий.</p>
                      </div>
              </div>
            <div class="item features-without-image col-12">
              <div class="item-wrapper">
                
                <p class="mbr-text mbr-fonts-style display-7">Выбирают именно нас, потому что мы не про достигаторство. Шпагат ради шпагата, трюк ради трюка, результат в кратчайшие сроки любой ценой. </p>
                    </div>
            </div>
            <div class="item features-without-image col-12">
              <div class="item-wrapper">
                
                <p class="mbr-text mbr-fonts-style display-7">Наша задача гармоничное развитие человека. Всем уделяется внимание даже на групповой тренировке, все развиваются, но каждый в своём темпе!</p>
              </div>
            </div>
         
            
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<section data-bs-version="5.1" class="gallery07 cid-u8LKa7v42j" id="gallery-14-u8LKa7v42j">
  <div class="container-fluid gallery-wrapper">
    <div class="row justify-content-center">
      <div class="col-12 content-head">
        
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-container-3 moving-left" style="transform: translate3d(-200px, 0px, 0px);">
        <div class="grid-item">
          <img src="static/images/photo-1486218119243-13883505764c.jpeg">
        </div>
        
        <div class="grid-item">
          <img src="static/images/photo-1494597564530-871f2b93ac55.jpeg">
        </div>

        <div class="grid-item">
            <img src="static/images/photo-1579758629938-03607ccdbaba.jpeg">
          </div>

        <div class="grid-item">
          <img src="static/images/photo-1483721310020-03333e577078.jpeg">
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="form1 cid-u8LKa7vFu8" id="call-to-action-12-u8LKa7vFu8">
    

    

    <div class="container">
        <div class="row content-wrapper justify-content-center">
            <div class="col-lg-7 mbr-form">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h5 class="mbr-section-title mbr-fonts-style mb-5 display-2">
                        <strong>Мы научим тебя летать</strong>
                    </h5>
                </div>

                <div class="text-wrapper align-left" data-form-type="formoid">
                    <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="CFXAKVbpmXse6RhZnEtq92riyuMFSiP2/8cIsS7iOs+3YiwJixjYcO8Nblax6drPVHTpqWY/CvUaXZhj7YgsWYN9ykSyJXlQiaDQSDr3vH1wwmqlpR5SjvtEXeAAPqV0">
                        <div class="row">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                Oops...! some problem!
                            </div>
                        </div>
                        <div class="dragArea row">
                            <!-- <div data-for="email" class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <input type="email" name="email" placeholder="test@email.com" data-form-field="email" class="form-control display-7" value="" id="email-call-to-action-12-u8LKa7vFu8">
                            </div>-->
                            <div class="col-auto mbr-section-btn">
                                <button type="submit" class="w-100 btn btn-secondary display-7">Записаться на пробное занятие</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features023 cid-u8LKa7vQbo" id="metrics-1-u8LKa7vQbo">

    

    
    
    
</section>

<section data-bs-version="5.1" class="image02 cid-u8LKa7vtzx mbr-fullscreen mbr-parallax-background" id="image-13-u8LKa7vtzx">
    
    
    <div class="container">
        <div class="row"></div>
    </div>
</section>

<section data-bs-version="5.1" class="features19 cid-u8LKa7wePy" id="features-27-u8LKa7wePy">
    
  
    
    <div class="container">
        <div class="row justify-content-center">
            
        </div>
        <div class="row">
            
            <div class="row justify-content-center mb-5">
                <div class="col-12 content-head">
                    <div class="mbr-section-head">
                        <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                            <strong>НАШИ ТРЕНЕРЫ</strong>
                        </h4>
                        
                    </div>
                </div>
            </div>

            <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb active">
            
                <div class="item-wrapper">
                    <div class="card-box align-left">
                        <div class="img-wrapper mb-3">
                            <img class="" src="static/images/Тренеры/6.jpg">
                        </div>
                        <h5 class="card-title mbr-fonts-style display-5">
                            <strong>Светлана Ланцова</strong>
                        </h5>
                        <p class="card-text mbr-fonts-style display-7">Руководитель и тренер студии воздушного фитнеса Галерея</p>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb">
                <div class="item-wrapper">
                    <div class="card-box align-left">
                        <div class="img-wrapper mb-3">
                            <img class="" src="static/images/Тренеры/10.jpg" data-slide-to="1" data-bs-slide-to="1">
                        </div>
                        <h5 class="card-title mbr-fonts-style display-5">
                            <strong>Анастасия Лапшина</strong>
                        </h5>
                        <p class="card-text mbr-fonts-style display-7">С вас желание тренироваться и настрой, с меня помощь и учёт ваших пожеланий</p>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb">
                <div class="item-wrapper">
                    <div class="card-box align-left">
                        <div class="img-wrapper mb-3">
                            <img class="" src="static/images/Тренеры/8.jpg" data-slide-to="2" data-bs-slide-to="2">
                        </div>
                        <h5 class="card-title mbr-fonts-style display-5">
                            <strong>Виктория Белякова</strong>
                        </h5>
                        <p class="card-text mbr-fonts-style display-7">Профессионально танцую на высоких каблуках и научу этому тебя</p>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb">
                <div class="item-wrapper">
                    <div class="card-box align-left">
                        <div class="img-wrapper mb-3">
                            <img class="" src="static/images/Тренеры/2.jpg" data-slide-to="3" data-bs-slide-to="3">
                        </div>
                        <h5 class="card-title mbr-fonts-style display-5">
                            <strong>Кристина Тырина</strong>
                        </h5>
                        <p class="card-text mbr-fonts-style display-7">Вместе придем в отличную форму и узнаем о возможностях твоего тела</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section data-bs-version="5.1" class="pricing1 cid-u8LKa7w21r" id="pricing-cards-1-u8LKa7w21r">
    
    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>НАПРАВЛЕНИЯ СТУДИИ</strong>
                    </h4>
                    
                </div>
            </div>
        </div>


        <div class="row justify-content-center mb-5">
        
            <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb active">
                <div class="item-wrapper">
                    <div class="item-head">
                        <h5 class="item-title mbr-fonts-style mb-0 display-5">
                            <strong>POLE DANCE</strong>
                        </h5>
                    </div>
                    <div class="item-content">
                        <p class="mbr-text mbr-fonts-style display-7">Шестовая акробатика с пилоном: трюки, стойки, крутки, эффектные акробатические связки</p>
                    </div>
                    <div class="mbr-section-btn item-footer">
                        <a href="" class="btn item-btn btn-primary display-7">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb">
                <div class="item-wrapper">
                    <div class="item-head">
                        <h5 class="item-title mbr-fonts-style mb-0 display-5">
                            <strong>POLE​ EXOTIC</strong>
                        </h5>
                    </div>
                    <div class="item-content">
                        <p class="mbr-text mbr-fonts-style display-7">Танец с пилоном на каблуках, преимущественно в партере</p>
                    </div>
                    <div class="mbr-section-btn item-footer">
                        <a href="" class="btn item-btn btn-primary display-7">Подробнее</a>
                    </div>
                </div>
            </div>

            <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb">
                <div class="item-wrapper">
                    <div class="item-head">
                        <h5 class="item-title mbr-fonts-style mb-0 display-5">
                            <strong>POLE CHOREO</strong>
                        </h5>
                    </div>
                    <div class="item-content">
                        <p class="mbr-text mbr-fonts-style display-7">Хореография, танец с пилоном в носочках (как в партере, так и с пилоном)</p>
                    </div>
                    <div class="mbr-section-btn item-footer">
                        <a href="" class="btn item-btn btn-primary display-7">Подробнее</a>
                    </div>
                </div>
            </div>

            
        </div>


        <div class="row justify-content-center mb-5">
            
            <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb active">
                <div class="item-wrapper">
                    <div class="item-head">
                        <h5 class="item-title mbr-fonts-style mb-0 display-5">
                            <strong>ГАМАК</strong>
                        </h5>
                    </div>
                    <div class="item-content">
                        <p class="mbr-text mbr-fonts-style display-7">Растяжка, фитнес, йога, релакс, акробатика, массаж. Всё это с подвесным специальным оборудованием - гамаком</p>
                    </div>
                    <div class="mbr-section-btn item-footer">
                        <a href="" class="btn item-btn btn-primary display-7">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb">
                <div class="item-wrapper">
                    <div class="item-head">
                        <h5 class="item-title mbr-fonts-style mb-0 display-5">
                            <strong>РАСТЯЖКА + МФР</strong>
                        </h5>
                    </div>
                    <div class="item-content">
                        <p class="mbr-text mbr-fonts-style display-7">Растяжка на все группы мышц, иногда включающая в себя фитнес + самомассаж с роллами и мячиками для наилучшего прогресса</p>
                    </div>
                    <div class="mbr-section-btn item-footer">
                        <a href="" class="btn item-btn btn-primary display-7">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb">
                <div class="item-wrapper">
                    <div class="item-head">
                        <h5 class="item-title mbr-fonts-style mb-0 display-5">
                            <strong>ЧУВСТВЕННЫЙ СТРИП</strong>
                        </h5>
                    </div>
                    <div class="item-content">
                        <p class="mbr-text mbr-fonts-style display-7">Танец на каблуках БЕЗ пилона для раскрепощения, преимущественно в партере</p>
                    </div>
                    <div class="mbr-section-btn item-footer">
                        <a href="" class="btn item-btn btn-primary display-7">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

        
    </div>
</section>

<section data-bs-version="5.1" class="article12 cid-u8LKa7wPan" id="generic-text-6-u8LKa7wPan">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-fonts-style mb-4 mt-0 display-2">
                    <strong>ЧТО ЕСТЬ У НАС В СТУДИИ?</strong>
                </h3>
                
                <p class="mbr-text mbr-fonts-style display-7">
                    ⚜️ Стильный, оформленный в едином цветовом решении интерьер<br>
                    ⚜️ Потолки - 4м. Этого вполне хватит, чтобы сделать любой трюк на pole dance безопасно и красиво<br>
                    ⚜️ Панорамные окна для самых красивых фото и видео с естественным светом<br>
                    ⚜️ Подсветка на любой вкус для лучшего настроения и танцев<br>
                    ⚜️ Зеркала в пол для крутых селфи<br>
                    ⚜️ Профессиональное оборудование (пилоны - все статика-динамика; самые безопасные системы подвесов и приятные для тела гамаки)<br>
                    ⚜️ Удобные маты для самых крутых успехов<br>
                    ⚜️ Кондиционер и вентиляторы<br>
                    ⚜️ Кулер с питьевой водой в свободном доступе, а также чай/кофе/конфеты<br>
                    ⚜️ Шкафчики с персональными ключиками<br>
                    ⚜️ В раздевалке есть все необходимые женские принадлежности<br>
                    ⚜️ 2 туалета - чтобы не стоять в очереди<br>
                    ⚜️ На территории и рядом со зданием - бесплатные парковки<br><br>
                    Ну и напоследок - ЕДИНЫЙ АБОНЕМЕНТ на все направления!<br>
                    Мы учитываем все ваши противопоказания и строим тренировки для Вас! 🔥
                </p>
            </div>
        </div>
    </div>
    <section data-bs-version="5.1" class="clients04 cid-u8LKa7x5cs" id="clients-3-u8LKa7x5cs">
    
    
        <div class="container-fluid">
            
            <div class="row">

                <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                    <div class="item-wrapper">
                        <div class="">
                            <img src="static/images/photo-1529612700005-e35377bf1415.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="3" data-bs-slide-to="3">
                        </div>
                        
                    </div>
                </div>

                <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2 active">
                    <div class="item-wrapper">
                        <div class="">
                            <img src="static/images/photo-1554463529-e27854014799.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="1" data-bs-slide-to="1">
                        </div>
                        
                    </div>
                </div>

                <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                    <div class="item-wrapper">
                        <div class="">
                            <img src="static/images/photo-1651853082689-706323a31427.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="2" data-bs-slide-to="2">
                        </div>
                        
                    </div>
                </div>

                <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                    <div class="item-wrapper">
                        <div class="">
                            <img src="static/images/photo-1502828331539-51c709e80300.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="6" data-bs-slide-to="6">
                        </div>
                        
                    </div>
                </div>
                
                
                <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                    <div class="item-wrapper">
                        <div class="">
                            <img src="static/images/photo-1646825461394-ebd1800141d1.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="5" data-bs-slide-to="5">
                        </div>
                        
                    </div>
                </div>

                <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                    <div class="item-wrapper">
                        <div class="">
                            <img src="static/images/photo-1617727553252-65863c156eb0.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="4" data-bs-slide-to="4">
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</section>




<section data-bs-version="5.1" class="list1 cid-u8LKa7x3Oz" id="faq-1-u8LKa7x3Oz">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-10 m-auto">
                <div class="content">
                    <div class="row justify-content-center mb-5">
                        <div class="col-12 content-head">
                            <div class="mbr-section-head">
                                <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                                    <strong>FAQ</strong>
                                </h4>
                                
                            </div>
                        </div>
                    </div>
                    <div id="bootstrap-accordion_12" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse1_12" aria-expanded="false" aria-controls="collapse1">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Нужна какая-то дополнительная подготовка?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse1_12" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_12">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Нет! Берём с нуля, в любой форме и с любым уровнем растяжки (даже с её отсутствием).<br>
                                        90% из тех, кто начинал у нас заниматься, не имели спортивного прошлого. Поэтому - не стесняйся! Смелее!<br>
                                        Здесь все такие же, как ты! ❤️</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse2_12" aria-expanded="false" aria-controls="collapse2">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Мне 40+ лет. Не поздно начать заниматься?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse2_12" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_12">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">ЗАПОМНИТЕ:<br>
                                        Никогда не поздно начать заниматься тем, что всегда хотелось попробовать! 🌸</p>
                                        <p class="mbr-fonts-style panel-text display-7">Наша студия специализируется на занятиях девушек любых возрастов с 14 лет и до бесконечности.
                                        Мало того, большинство наших клиентов никогда ничем не занимались (ни спортом, ни танцами)</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse3_12" aria-expanded="false" aria-controls="collapse3">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">А гамак/пилон меня выдержит?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse3_12" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_12">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">Напрасно Вы волнуетесь!</p>
                                    <p class="mbr-fonts-style panel-text display-7">💫 Гамак в нашей студии выдерживает вес до 200 кг за счёт специальных кронштейнов, обеспечивающих безопасность! </p>
                                    <p class="mbr-fonts-style panel-text display-7">💫 Пилон выдерживает 100 кг. И да, люди в нашей студии с таким весом занимаются! Безопасное крепление снаряда и надежная система его страховки позволят Вам расслабиться и насладиться процессом тренировки, не отвлекаясь на мысли «а вдруг пилон упадет»</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse4_12" aria-expanded="false" aria-controls="collapse4">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Что я получу от занятий?</h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse4_12" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_12">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">
                                        ✅ Гибкую и женственную фигуру;<br>
                                        ✅ Здоровую спину и королевскую осанку;<br>
                                        ✅ Снимите стресс и зажимы в теле;<br>
                                        ✅ Ускорите обмен веществ;<br>
                                        ✅ Энергию и хорошее настроение;<br>
                                        ✅ Красивые фото в соц. сетях;<br>
                                        ✅ Повышенное внимание противоположного пола;<br>
                                        ✅ Уверенность в себе и ощущение легкости;<br>
                                        ✅ Сильное окружение, в котором легче достигать своих целей
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse5_12" aria-expanded="false" aria-controls="collapse5">
                                    <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Когда появятся результаты? </h6>
                                    <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                </a>
                            </div>
                            <div id="collapse5_12" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_12">
                                <div class="panel-body">
                                    <p class="mbr-fonts-style panel-text display-7">
                                        На наших направлениях вы сможете уже на первом занятии получить красивые кадры, 
                                        открыть для себя новые эмоции, сделать первые шаги в изучении таких грациозных дисциплин 
                                        и порадоваться первым успехам ✨
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section data-bs-version="5.1" class="contacts4 map1 cid-u8LKa7y00J" id="contacts-3-u8LKa7y00J">
    <div class="main_wrapper">
		<div class="b_wrapper">
			<div class="container-fluid">
				<div class="row justify-content-start">
					<div class="col-md-5 col-lg-4 item-wrapper">
                        <h5 class="cardTitle mbr-fonts-style mb-2 display-5">
                            <strong>Наши контакты</strong>
                        </h5>
                        <ul class="list mbr-fonts-style display-7">
                            

                            <li class="mbr-text item-wrap">
                                Телефон: 
                                <a href="tel:+7 (905) 635-08-23" class="text-black">+7 (905) 635-08-23</a>
                            </li> 

                            <li class="mbr-text item-wrap">
                                WhatsApp: 
                                <a href="https://api.whatsapp.com/send/?phone=79056350823&text&type=phone_number&app_absent=0" class="text-black">+7 (905) 635-08-23</a>
                            </li> 

                            <li class="mbr-text item-wrap">                            
                            ВКонтакте:
                            <a href="https://vk.com/gallery_studio76" class="text-black">gallery_studio76</a>                        
                            </li>

                           
                            <li class="mbr-text item-wrap">
                                Адрес:                                
                            <a href="tel:123-456-7890" class="text-black">ул. Лисицына, 2В, этаж 2</a></li>

                            <li class="mbr-text item-wrap">
                                Время работы:
                                ПН-ВС: 9:00-23:00
                            </li>
                        </ul>
					</div>
				</div>
			</div>
		</div>
        
        
        <div class="google-map"><a href="https://yandex.ru/maps/org/galereya/237844826196/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Галерея</a><a href="https://yandex.ru/maps/16/yaroslavl/category/dance_school/184105924/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Школа танцев в Ярославле</a><a href="https://yandex.ru/maps/16/yaroslavl/category/stretching/2593796244/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Стретчинг в Ярославле</a><iframe frameborder="0" style="border:0"  src="https://yandex.ru/map-widget/v1/?ll=39.853893%2C57.616537&mode=search&oid=237844826196&ol=biz&z=16"  frameborder="0" allowfullscreen="" style="position:relative;"></iframe></div>
	
    </div>
</section>

<section data-bs-version="5.1" class="footer3 cid-u8LKa7yEOf" once="footers" id="footer-6-u8LKa7yEOf">

        

    

    <div class="container">
        <div class="row">
            <div class="col-12 mt-4">
                <p class="mbr-fonts-style copyright display-7">©2024 Галерея<br>Студия воздушного фитнеса</p>
            </div>
        </div>
    </div>
</section>
<!--
  <script src="static\js\backstretch.js"></script>
  <script src="static\js\custom-slider.js"></script>
  <script src="static\js\jquery.js"></script>
  <script src="static\js\jquery.slimmenu.js"></script>
  <script src="static\js\jquery.transit.min.js"></script>
  <script src="static\js\owl.carousel.min.js"></script>
  <script src="static\js\simpleSlider.js"></script>
  <script src="static\js\template.js"></script>
  <script src="static\js\touchSwipe.js"></script>
-->


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const section = "{{ section }}";
        if (section) {
            document.getElementById(section).scrollIntoView();
        }
    });
</script>

<script src="static/web/assets/jquery/jquery.min.js"></script>
<script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/parallax/jarallax.js"></script>
<script src="static/smoothscroll/smooth-scroll.js"></script>
<script src="static/ytplayer/index.js"></script>
<script src="static/dropdown/js/navbar-dropdown.js"></script>
<script src="static/vimeoplayer/player.js"></script>
<script src="static/scrollgallery/scroll-gallery.js"></script>
<script src="static/mbr-switch-arrow/mbr-switch-arrow.js"></script>
<script src="static/theme/js/script.js"></script>
<script src="static/formoid/formoid.min.js"></script>
  
</body>
</html>